@use "@angular/material" as mat;

.skeleton-container {
  @apply p-1;
  @apply animate-pulse;
}

.skeleton-image {
  display: block;
  @apply rounded;
}

.skeleton-button {
  display: block;
  @apply rounded;
  @apply w-24;
}

.skeleton-icon-button,
.skeleton-avatar {
  display: block;
  @apply rounded-full;
}

.skeleton-line {
  display: block;
  width: 100%;
  @apply rounded;
}

@mixin color-and-typo($theme) {
  .skeleton-line-sm {
    background-color: mat.get-theme-color($theme, neutral, 95);
    height: mat.get-theme-typography($theme, body-small, font-size);
  }
  .skeleton-line-md {
    background-color: mat.get-theme-color($theme, neutral, 92);
    height: mat.get-theme-typography($theme, body-medium, font-size);
  }
  .skeleton-line-lg {
    background-color: mat.get-theme-color($theme, neutral, 90);
    height: mat.get-theme-typography($theme, body-large, font-size);
  }
  .skeleton-image {
    background-color: mat.get-theme-color($theme, neutral, 90);
    height: mat.get-theme-typography($theme, body-large, font-size) * 2;
    width: mat.get-theme-typography($theme, body-large, font-size) * 2;
  }
  .skeleton-button {
    background-color: mat.get-theme-color($theme, neutral, 92);
    height: mat.get-theme-typography($theme, body-large, font-size) * 2;
  }
  .skeleton-icon-button {
    background-color: mat.get-theme-color($theme, neutral, 92);
    height: mat.get-theme-typography($theme, body-large, font-size) * 2;
    width: mat.get-theme-typography($theme, body-large, font-size) * 2;
  }
  .skeleton-container {
    background-color: mat.get-theme-color($theme, neutral, 98);
  }
  .skeleton-avatar {
    height: mat.get-theme-typography($theme, body-large, font-size) * 2;
    width: mat.get-theme-typography($theme, body-large, font-size) * 2;
    background-color: mat.get-theme-color($theme, neutral, 94);
  }
  .skeleton-avatar-light {
    background-color: mat.get-theme-color($theme, neutral, 96);
  }
  .skeleton-avatar-medium {
    background-color: mat.get-theme-color($theme, neutral, 94);
  }
  .skeleton-avatar-heavy {
    background-color: mat.get-theme-color($theme, neutral, 92);
  }
}
